body{
    margin: 0;
    font-family: sans-serif;
}

.header, .header-nav, .header-content, .link-list, .information, .testimonial, .cta, .footer{
    display: flex;
}

.header, .footer{
    background-color: #F28C28;
}

.information, .cta{
    background-color: #FFFFFF;
}

.testimonial{
    background-color: #EFE7EB;
}

.header{
    padding: 10px 120px;
    flex-direction: column;
    
}

.header-nav{
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.header ul{
    padding: 0;
    margin: 0;
}

.header .link-list{
    gap: 24px
}

.header .link{
    list-style-type: none;
}

a, .header .header-paragraph{
    color: #e5e7eb;
    text-decoration: none;
}

.header .logo{
    
    color: #F9Faf8;
    font-size: 1.5em;
    font-weight: bold;
}

.header .header-bold{
    font-size: 36px;
    font-weight: 1200;
    color: #F9Faf8;
    margin: 0;
}

.header .header-paragraph{
    margin: 0;
}

.header-content{
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-information{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0;
    gap: 12px;
}

.fox{
    width: 400px;
    height: 400px;
}

.signup{
    width: 120px;
    color: #975818;
    border: 2px solid #975818 ;
    border-radius: 12px;
}